* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
  }

.game-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 400px;
  }

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }

#show-letters {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fffaed;
  width: 80%;
}

#image-container {
  width: 300px;
  height: auto;
}

img {
  width: 100%;
  height: auto;
}

#max-attempts {
  font-size: 12px;
  color: #919191;
}

#hangman-status {
  font-size: 12px;
  color: #0d00ff;
}

#current-word {
  font-size:40px;
  color: #333;
  margin: 15px 0;
}

#alphabet-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#alphabet-buttons button {
    width: 35px;
    height: 35px;
    margin: 5px;
    font-size: 16px;
    background-color: #eee;
    border: 1px solid #ddd;
    cursor: pointer;
  }
  
  #game-message {
    font-size: 18px;
    color: #0008ff;
    margin-top: 20px;
  }

  #win-lose-message {
    font-size: 30px;
    color: #ff0000;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  #restart-btn {
    margin-top: 15px;
    padding: 8px 12px;
    font-size: 16px;
    color: #fff;
    background-color: #5cb85c;
    border: none;
    cursor: pointer;
  }
  


